.header{
    background-color: rgb(59, 59, 134);
    text-align: center;
}

@media screen and (max-width: 820px) {
    .main-content {
        flex-direction: column;
    }
    .five-day img {
        width: 25%;
    }
    .five-day{
        flex-wrap: wrap;
    }
}
